@import rwd
@import zmienne
$szer: 80%
$ilekat: 5
%wszedzie
  margin: 0 auto
%padding
  padding: 15px
$naw-wys: 4em
%nawigacja
  float: left
  height: $naw-wys

html
  background-color: rgb(210, 196, 102)
  body
    margin: 0
    .clear
      clear: left
    #nawigacja
      height: $naw-wys
      width: $szer
      background-color: green
      @extend %wszedzie
      #logo
        width: $jedna-piata
        background-color: red
        @extend %nawigacja
      #kategorie
        width: $cztery-piate
        background-color: rgb(85, 62, 194)
        @extend %nawigacja
      p
        margin: 0
    .container
      background-color: rgb(74, 120, 121)
      min-height: 15em
      width: $szer
      @extend %wszedzie
      #artykul
        float: left
        // padding: 20px
        width: $cztery-piate
        background-color: rgb(123, 251, 95)
        .tytul
          @extend %padding
          margin: 0 auto
          color: black
          font:
            style: italic
            weight: bold
            size: 2.2em
          text:
            transform: uppercase
            align: center
        .subtytul

        .artykul

        .o-autorze

      #podobne
        float: left
        width: $jedna-piata
        height: auto
        background-color: rgb(249, 25, 160)
    #stopka
      background-color: rgb(161, 110, 80)
      // Stopka jest na ta sama wysokosc co gorna belka
      min-height: $naw-wys
      width: $szer
      @extend %wszedzie
      .stopka
        @extend %padding
        color: rgba(255, 255, 255, 0.4)
        text:
          align: center
          transform: uppercase
        font:
          size: 1.3em
          // weight: bold
